<div class="mt-5 p-3">

  <mat-form-field appearance="outline" class="w-50">
    <mat-label>Search any Product</mat-label>
    <input 
    #searchkeyword
    (keyup) ="searchByKeyword(searchkeyword.value)"
    matInput name="searchKey" id="searchKey" placeholder="Search any Product">      
</mat-form-field>

  <div *ngIf="showTable">

<table mat-table [dataSource]="productDetails" class="mat-elevation-z8">

    
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Product Name">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Product Description">
      <th mat-header-cell *matHeaderCellDef> Product Description </th>
      <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Product Discounted Price">
      <th mat-header-cell *matHeaderCellDef> Product Discounted Price </th>
      <td mat-cell *matCellDef="let element"> {{element.productDiscountedPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="Product Actual Price">
        <th mat-header-cell *matHeaderCellDef> Product Actual Price </th>
        <td mat-cell *matCellDef="let element"> {{element.productActualPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary" (click)="showImages(element)">
                <mat-icon> images </mat-icon>
            </button>

            <button mat-icon-button color="primary" (click)="editProductDetails(element.productId)">
              <mat-icon> edit </mat-icon>
          </button>

          <button mat-icon-button color="warn" (click) = "deleteProduct(element.productId)">
            <mat-icon> delete </mat-icon>
        </button>
             </td>
      </ng-container>     
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  <div class="text-center mt-5" style="padding-bottom: 100px;" *ngIf ="showLoadMoreProductButton">
   
    <button type="button" mat-raised-button color="primary" (click)="loadMoreProduct()">Load more</button>
 </div>
</div> 
  
